.barra-menu {
  background-color: #b6dbee;
  padding: 15px 30px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* por si achicás pantalla */
}

.logo-box{
    img{
        width: 80px;
        height: auto;
    }
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.carrito img {
  width: 35px;
}

/* cuestionario */

form#cuestionario {
  max-width: 500px;
  margin: 30px auto;
  padding: 25px;
  background-color: #f5fbff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

form#cuestionario h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2b2b2b;
}

form#cuestionario label{
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

form#cuestionario input[type="text"],
form#cuestionario input[type="number"],
form#cuestionario select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

form#cuestionario input[type="radio"] {
  margin-right: 5px;
}

form#cuestionario label input[type="radio"] {
  display: inline-block;
  margin-right: 5px;
  font-weight: normal;
}

form#cuestionario button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #91d1ee;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form#cuestionario button:hover {
  background-color: #0291ce;
}

button{
  width: 180px;
  height: 60px;
  background-color: #59c4f6;
  border: none;
  color: white;
  font-size: 13px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #0291ce;
}

/* movile */
@media (max-width: 600px) {
  .barra-menu {
  text-align: center;
  padding: 20px 15px;
}

.container-flex {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar-nav {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar-nav a {
  font-size: 18px;
}

  .logo-box img {
    width: 60px;
  }

  .carrito {
    align-self: flex-end;
  }

  form#cuestionario {
    padding: 15px;
    margin: 20px 10px;
  }

  form#cuestionario h2 {
    font-size: 20px;
  }

  form#cuestionario button {
    font-size: 14px;
    padding: 10px;
  }
.botones-abajo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.botones-abajo button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

  #listaProductos li {
    font-size: 14px;
  }
}
